* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu > li > a{
  display: none;
  transition: 0.5s;
}
.menu  {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: max-content;
  list-style: none;
  transition: 0.5s;
}

.menu img {
  padding: 10px;
  flex: 1;
  transition: 2s;
}
.menu img:hover {
    cursor: pointer;
    filter: invert(100%);
    transition: 0.5s;
  }
.menu.active > li > a{
  transition: 0.5s;
  display:block;
  color:  black;
  text-decoration: none;
  width: 100%;
}


.menu.active > li {
  padding: 5px;
  width: 100%;
  transition: 0.5s;
}
.menu.active > li:hover{
  background-color: rgb(62, 62, 228);
}
.menu.active > li:hover a {
  color: white;
}

/* RODA PÉ */
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer .part1{
  display: flex;
  justify-content: center;
  align-items:start;
  gap: 200px;
}
footer .part1 div{
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-left: 2px dotted black;
  padding: 0 5px 0 10px;
}
footer .part1 div > a {
  font-size:  .9em;
}

@media (min-width: 768px) {
  .menu, .menu.active{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
  }
  .menu img{
    display: none;
  }
  
  .menu>li, .menu.active>li{
    list-style: none;
    width:auto;
    padding: 0px;

  }

  .menu>li>a, .menu.active>li>a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 4px;
    width: inherit;
    margin: none;
    padding: none;
  }
  .menu>li>a:hover, .menu.active > li>a:hover{
    background-color: rgb(62, 62, 228);
    color: black
}
}

