* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Mobile first */
.menu {
  padding: 4px;
}

.menu > li{
  list-style: none;
}

.menu > li > a {
  text-decoration: none;
  color: white;
  background-color: blueviolet;
  display: block;
  padding: 4px;
}

.menu > li > a:hover {
  background-color: rgb(156, 83, 225);
}

@media (min-width: 768px){
}